@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

*
{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body
{
    font-family: 'Roboto', sans-serif;
}
a
{
    text-decoration: none;
}

.gridContainer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    column-gap: 0px;
    row-gap: 0px;

}

.linkedPage{
    text-decoration: none;
}

.consultant-card {
    width: 300px;
    position: relative;
    box-shadow: 0 2px 7px #dfdfdf;
    /* margin: 50px auto; */
    margin: 10px;
    background: #fafafa;
    cursor: pointer;
    transition-duration: 0.4s;
}

.consultant-card:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.01),0 17px 50px 0 rgba(0,0,0,0.19);
}

.badge {
    position: absolute;
    left: 0;
    top: 20px;
    text-transform: uppercase;
    font-size: 13px;
    font-weight: 700;
    background: red;
    color: #fff;
    padding: 3px 10px;
}

.consultant-tumb {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    padding: 10px;
    background: #f0f0f0;
}

.consultant-tumb img {
    max-width: 100%;
    max-height: 100%;
}

.consultant-details {
    padding: 20px 20px;
    /* padding: 30px; */
}

.consultant-catagory {
    display: block;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    color: #2A4B7C;
    margin-bottom: 12px;
    /* margin-bottom: 18px; */
}

.consultant-details h4 p {
    font-weight: 500;
    display: block;
    margin-bottom: 12px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.consultant-details h4 a:hover {
    color: #fbb72c;
}

.consultant-details p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 12px;
    color: #6c757d;
}

.consultant-bottom-details {
    overflow: hidden;
    border-top: 1px solid #eee;
    padding-top: 12px;
    /* padding-top: 20px; */
}

.consultant-bottom-details div {
    float: left;
    width: 50%;
}

.consultant-links {
    text-align: right;
}

.consultant-links a {
    display: inline-block;
    margin-left: 5px;
    color: #e1e1e1;
    transition: 0.3s;
    font-size: 17px;
}

.consultant-links a:hover {
    color: #fbb72c;
}

.buyBtnBox{
    position:absolute;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    background-color: #202C45;
    cursor: pointer; /* Mouse pointer on hover */
    bottom: 130px;
    left: 225px;
    transition-duration: 0.4s;
}

.buyBtn{
    position: relative;
    color: white;
    border: none;
    font-size: 16px;
    cursor: pointer; 
    left: 16px;
    top: 2px;
    text-decoration: none;
}

.buyBtnBox:hover{
    background-color: #17a2b8;
}

.buyBtn:hover{
    color: white;
}
