.profileContainer {
    margin-top: 100px;
}

.form-control:focus {
    box-shadow: none;
    border-color: #BA68C8
}

.profile-button {
    background: rgb(99, 39, 120);
    box-shadow: none;
    border: none
}

.profile-button:hover {
    background: #4a98f7
}

.profile-button:focus {
    background: #4a98f7;
    box-shadow: none
}

.profile-button:active {
    background: #4a98f7;
    box-shadow: none
}

.back:hover {
    color: #4a98f7;
    cursor: pointer
}

.labels {
    font-size: 11px
}

.add-experience:hover {
    background: #4a98f7;
    color: #fff;
    cursor: pointer;
    border: solid 1px #4a98f7
}

.editBtn {
    cursor: pointer;
    text-decoration: none;
}

.editBtn:hover {
    color: #fff;
}


.table-box {
    margin: 20px auto;
}

.table-row {
    display: table;
    width: 80%;
    margin: 10px auto;
    font-family: sans-serif;
    background: transparent;
    padding: 12px 0;
    color: #555;
    font-size: 13px;
    box-shadow: 0 1px 4px 0px rgba(0, 0, 50, 0.3);
}

.table-head {
    background: #4a98f7;
    box-shadow: none;
    color: #fff;
    font-weight: 600;
}

.table-head .table-cell {
    border-right: none;
}

.table-cell {
    display: table-cell;
    width: 20%;
    text-align: center;
    padding: 4px 0;
    border-right: 1px solid #d6d4d4;
    vertical-align: middle;
}

.first-cell {
    text-align: left;
    padding-left: 10px;
}

.second-cell {
    text-align: left;
    padding-left: 10px;
}

.third-cell {
    text-align: left;
    padding-left: 10px;
}

.fourth-cell {
    text-align: left;
    padding-left: 10px;
}

a {
    text-decoration: none;
    color: #555;
}

@media only screen and (max-width: 600px) {
    .table-row {
        font-size: 11px;
    }
}