@import url('https://fonts.googleapis.com/css2?family=Poppins');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
ul {
    list-style: none;
}
.active{
    color: #1d3456;
    text-decoration: underline;
    font-weight: bold;
}
body , html {
    overflow-x: hidden;
}
/* nav-bar*/
.navbar{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 20px;
    color: #2a4b7c;
}
.nav-links{
 display: flex;
 align-items: center;
}
.nav-links li{
    margin: 0 30px;
}

/*whychoose*/
section {

    width: 80%;
    margin: 80px auto;
}
.title {
    text-align: center;
    font-size: 4vmin;
    color: #1d3456;
}
.row{
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    
}
.row .col{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.whychoose .row{
    margin-top: 50px;
}
.row .col img{
    width: 80%;
}

h2{
    font-size: 4.5vmin;
    color: #1d3456;
    margin: 20px auto;
}
h3{
    font-size: 3.5vmin;
    color: #1d3456;
    margin: 1px auto;
}

h4{
    font-size: 3vmin;
    color: #1d3456;
    margin: 20px auto;
}
p {
    color: #211c58;
    padding: 0px 40px;
    font-style: unset;
}
.whychoose .ctn {
    margin-top: 30px;
}
.whychoose .line{
    padding: 0%;
}
.whychoose.board{
    width: auto;
    border: 5px solid;
    border-color: black;
}

/*mobile device*/
@media only screen and (max-width:850px){
    .menu-btn {
        display: block;
    }
    .navbar{
        padding: 0;
    }
    .logo{
        position: absolute;
        top: 30px;
        left: 30px;
    }
    .nav-links{
        flex-direction: column;
        width: 100%;
        height: 100vh;
        justify-content: center;
        background: rgb(203, 179, 245);
        margin-top: -900px;
        transition: all 0.5s ease;
    }
    .mobile-menu{
        margin-top: 0px;
        border-bottom-right-radius: 30%;
    }
    .nav-links li{
        margin: 30px auto;
    }
    /* whychoose */
    .row{
        flex-direction: column;
    }
    .row .col{
        margin: 20px auto;
    }
    .col img{
        max-width: 90%;
    }
     /* explore */
     .explore-content{
        width: 100%;
     }
     .experts .col{
        width: 100%;
     }
     .image-gallery{
        justify-content: center;
        align-items: center;
     }
     .image-gallery img{
        width: 90%;
     }
     .footer{
        padding: 10px;
     }
}
 /* animations */
 img{
    transition: transform .3s ease;
 }
 img:hover{
    transform: scale(1.1);
 }
 .ctn:hover{
    background: whitesmoke;
    color: #1d3456;
    box-shadow: 2px 2px 5px black;
 }

 nav button {
    background: #4A98F7;
    color: #fff;
    border: none;
    padding: 15px 50px;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    display: flex;
    opacity: 20;
    appearance: auto;
    writing-mode: horizontal-tb !important;
    font-weight: 1000 ;
    font-size: 25px ;
    text-rendering: auto;
    color: #fff;
    letter-spacing: normal;
    word-spacing: normal;
    line-height: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: center;
}


 li:hover{
    color: #ffc107;
    cursor: pointer;
 }